﻿@using System.Configuration
@using System.Drawing
@using System.Globalization
@using Jmelosegui.Mvc.GoogleMap
@using Org.Openaq.Ap.Openaq.Interfaces.Models
@using Org.Openaq.Api.Openaq.Client
@using Org.Openaq.Api.Openaq.Model
@model IEnumerable<IAggregatedLocation>
@{
    ViewBag.Title = "España";
}

<div class="jumbotron">
    <div style="height: 500px; border: solid 1px #cccccc">
        @{
            
            Html.GoogleMap().ApiKey(ConfigurationManager.AppSettings["GoogleMapAPIKey"])
                .Name("map")
                .Height(600)
                .Center(c => c.Latitude(40)
                    .Longitude(-3))
                .BindTo<IAggregatedLocation, Marker>
                (Model, mappings => mappings.For<AggregatedLocation>
                    (
                        binding => binding.ItemDataBound
                            (
                                (marker, regionInfo) =>
                                {
                                    marker.Latitude = regionInfo.Coordinates.Latitude;
                                    marker.Longitude = regionInfo.Coordinates.Longitude;
                                    marker.Title = regionInfo.Location;
                                    marker.ZIndex = 100;

                                }
                            )
                    )
                ).Render();
        }
</div>
</div>
@section scripts
{
    @(Html.GoogleMap().ScriptRegistrar())
}